<header class="navbar bg-base-200 text-base-content shadow-sm px-4 md:px-8 border-b border-base-300">
  <div class="flex-1">
    <a routerLink="/home" class="btn btn-ghost text-xl font-black tracking-tight">Evaluacion Api</a>
  </div>
  
  <div class="flex-none hidden lg:flex flex-col items-end mr-6 text-xs font-medium text-base-content/80">
    <span>Programacion Web</span>
    <span> | Autor: Carlos Antonio Gordillo Tenemaza</span>
  </div>

  <div class="flex-none">
    <a href="https://github.com/antonikr8s" target="_blank" class="btn btn-outline btn-sm">GitHub</a>
  </div>
</header>